<template>
  <div id="app">
    <!-- 路由视图渲染入口 -->
    <router-view/>
  </div>
</template>

<script>
/**
 * 阻止默认页面拖拽事件
 */
let preventDragDropEvent = (type, el = document) => {
  el.addEventListener(
    type,
    e => {
      e.preventDefault();
    },
    false
  );
};

document.addEventListener("DOMContentLoaded", () => {
  preventDragDropEvent("drop");
  preventDragDropEvent("dragenter");
  preventDragDropEvent("dragleave");
  preventDragDropEvent("dragover");
});

export default {
  name: "App"
};
</script>

<style lang="scss">
// 1. 自定义变量 & 变量重写
// $global-link-color: #DA7D02;

// 2. 导入默认变量 & 可用的mixins
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3.自定义重写
// @mixin hook-card() { color: #000; }

// 4. 导入UIkit.
@import "uikit/src/scss/uikit-theme.scss";

#app {
  margin-top: 50px;
}
</style>
