<template>
  <div class="after-upload">
  	<div class="uk-container-expand">
  		<div class="ui-button-group">
        <!-- 搜索日期 -->
    		<button class="uk-button uk-button-primary" @click="backToReUpload"><span uk-icon="reply"></span>返回重传</button>
  		</div>

      <hr>

      <div class="ui-start-run-date">
        <form class="uk-form-horizontal">
          <div>
              <label class="uk-form-label">请选择保单的日期：</label>
              <div class="uk-form-controls">
                <DatePicker @picked="pickStartRunDate"></DatePicker>
              </div>
          </div>
        </form>
        
        <button class="ui-doSearch uk-button uk-button-primary uk-margin-top" @click="doSearch"><span uk-icon="search"></span>查询相似数据</button>
      </div>

      <hr>
  	</div>

    <div class="uk-container-expand">
      <TableList></TableList>
    </div>
  </div>
</template>

<script>
import TableList from "@/components/TableList.vue";
import DatePicker from "@/components/DatePicker.vue";
import CompanySelect from "@/components/CompanySelect.vue";

import { mapState, mapActions } from "vuex";
import { parseDate, subtractDate, mapRecords } from "@/util";

import UIkit from "@/vendor";

export default {
  name: "AfterUpload",

  data() {
    return {
      start_run_date: null
    };
  },

  methods: {
    ...mapActions(["searchLike"]),

    backToReUpload() {
      // ...Router...
      this.$router.push({
        name: "before-upload"
      });
    },

    doSearch() {
      UIkit.notification("正在查找15天内的相似数据");
      let records = mapRecords(this.records);
      this.searchLike({
        items: records,
        company: this.company,
        start_run_date: subtractDate(this.start_run_date, 15)
      });
    },

    pickStartRunDate(year, month, date) {
      let d = parseDate(year, month, date);
      console.log(d);
      this.start_run_date = d;
    }
  },

  components: {
    TableList,
    DatePicker
  },

  computed: {
    ...mapState(["records", "company"])
  }
};
</script>

<style lang="scss" scoped>
.ui-button-group {
  text-align: right;
  margin-right: 20px;
}

.ui-start-run-date {
  width: 500px;
  margin: 0 auto;
}

.ui-doSearch {
  margin-left: 215px;
}
</style>
