<template>
  <div class="before-upload">
    <div class="uk-container">
      <CompanySelect/>
    </div>
    <FileUpload/>
  </div>
</template>

<script>
import FileUpload from "@/components/FileUpload.vue";
import CompanySelect from "@/components/CompanySelect.vue";

export default {
  name: "BeforeUpload",
  components: {
    FileUpload,
    CompanySelect
  }
};
</script>
