<template>
    <form class="uk-margin-bottom">
        <p class="uk-h4">请选择保险公司：</p>
        <div class="uk-form-controls">
            <div uk-form-custom="target: > * > span:first-child">
                <!-- 改写v-model的形式 -->
                <select 
                    :value="company" 
                    @change="onChangeCompany"
                >
                    <option 
                        v-for="(option, index) in options" 
                        :value="option.value"
                        :key="index"
                    >{{option.text}}</option>
                </select>
                <button class="uk-button uk-button-default ui-select-company" type="button" tabindex="-1">
                    <span></span>
                    <span uk-icon="icon: chevron-down" class="ui-icon-dropdown"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
import {
    mapState,
    mapMutations
} from "vuex";

import {
    findIndexByValue
} from "@/util";

export default {
  name: "CompanySelect",

  // Component State
  data () {
      return {
        // ....
      }
  },

  methods: {
      onChangeCompany ($event) {
          let eventTarget = $event.target
          let company = eventTarget.value;
          this.changeCompany({
              company: company
          });
      },
      ...mapMutations(["changeCompany"]),
  },

  computed: {
    ...mapState(["company", "options"])
  }
};
</script>

<style lang="scss" scoped>
.ui-select-company {
    width: 350px;
    text-align: left;
    padding: 0 10px;
}

.ui-icon-dropdown {
    position: absolute;
    right: 10px;
    line-height: 38px;
}
</style>
