<template>
  <div class="uk-container">
    <div 
      class="ui-fileupload" 
      @drop="onDrop"
      @dragenter="onDragEnter"
      @dragover="onDragOver"
      @dragleave="onDragLeave"
      >
      <div uk-form-custom>
        <input 
          type="file" 
          @change="onChange" 
          name="xlsx" 
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        >
        <button 
          class="uk-button uk-button-primary uk-button-large" 
          tabindex="-1"
          >选择文件/拖拽上传</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import UIkit from "@/vendor";
import { isExcelFile, isExcelInstalled } from "@/util";

export default {
  name: "FileUpload",
  props: {
    // ...
  },
  data() {
    return {
      // ...
    };
  },
  methods: {
    ...mapActions(["changeParseSuccessful"]),
    onDrop(e) {
      let el = e.target;
      // FileList<Array>
      let fileArr = e.dataTransfer.files;
      el.classList.remove("is__dragenter");
      //解析Excel文件
      this.parseXSLXFile(fileArr);
    },
    onDragEnter(e) {
      UIkit.notification("请释放鼠标继续操作...");
      let el = e.target;
      el.classList.add("is__dragenter");
    },
    onDragOver() {
      // 避免频繁触发
      return false;
    },
    onDragLeave(event) {
      let el = event.target;
      el.classList.remove("is__dragenter");
    },
    onChange(event) {
      let fileArr = event.target.files;
      this.parseXSLXFile(fileArr);
    },
    parseXSLXFile(fileArr) {
      let file;
      if (fileArr && fileArr.length > 0) {
       file = fileArr[0];
      }
      if (!isExcelInstalled(file)) {
        UIkit.notification("你的系统可能没有安装WPS或者Miscrosoft Office");
        return;
      }

      if (!isExcelFile(file)) {
        UIkit.notification("只能上传Excel文件");
        return;
      }

      // 构造FormData对象
      let fd = new FormData();
      fd.append(
        "xlsx", // 表单域的名称
        file, // 文件对象
        file.name // 文件名称
      );
      this.changeParseSuccessful(fd);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "uikit/src/scss/variables-theme.scss";

.ui-fileupload {
  border: 2px dashed #ccc;
  padding: 80px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  &.is__dragenter {
    background: $global-muted-background;
  }
}
</style>
