<template>
    <!-- 解析记录为0，隐藏Table -->
    <div class="ui-tablelist" v-if="records && records.length > 0">
        <table class="uk-table uk-table-striped uk-table-hover">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>起运日期</th>
                    <th>被保险人</th>
                    <th>保险标的/货物</th>
                    <th>数量</th>
                    <th>船名/航次</th>
                    <th>起运地</th>
                    <th>目的地</th>
                    <th>运单号</th>
                    <th>柜台/封号</th>
                    <th>保险金额</th>
                    <th>保费</th>
                    <th>费率</th>
                    <th>操作</th>
                </tr>
            </thead>
            <!-- Table Body -->
            <tbody>
                <tr v-for="(record, $index) in records" :key="record._id" :class="{is__confidient: hitIds && hitIds[record._id]}">
                    <td>{{record.start_run_date}}</td>
                    <td>{{record.insured_name}}</td>
                    <td>{{record.insure_product}}</td>
                    <td>{{record.count}}</td>
                    <td>{{record.boat_flight_no}}</td>
                    <td>{{record.start_addr}}</td>
                    <td>{{record.end_addr}}</td>
                    <td>{{record.transport_no}}</td>
                    <td>{{record.box_no}}</td>
                    <td>{{record.insure_amount}}</td>
                    <td>{{record.premium}}</td>
                    <!-- 为费率设置默认值 -->
                    <td>{{record.fee_rate || '0.00%' }}</td>
                    <td>
                        <button class="uk-button uk-button-danger" @click="deleteItem({id: record._id, index: $index})">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "TableList",

  data() {
    return {};
  },

  methods: {
    ...mapActions(["deleteItem"])
  },

  computed: {
    ...mapState(["records", "hitIds"])
  }
};
</script>

<style lang="scss">
.is__confidient {
  background: #f25 !important;
  color: white !important;
}
</style>
